# Qt message and meta object files
po/*.qm
src/moc_*

# automake, autoconf, ...
compile
src/.deps/
src/.dirstamp
src/stamp-h1
lib/.deps/
lib/.dirstamp
include/stamp-h1
include/config.h*
install-sh
missing
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp

# binaries
lib/*.o
src/*.o
hamfax
